<nav class="navbar navbar-expand-lg bg-dark-subtle p-2 header">
    <div class="container-fluid">
        <a class="navbar-brand fw-semibold d-flex align-items-center gap-2" href="#">
            <i class="bi-briefcase-fill"></i>
            JobTracker CRM
        </a>

<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

        <ul class="navbar-nav ms-auto align-items-center gap-2">

            <!-- Profile -->
            <li class="nav-item">
                <a class="nav-link position-relative" href="#" role="button">
                    <i class="bi bi-person-circle"></i>
                </a>
            </li>
            <!-- Notifications -->
            <li class="nav-item">
                <a class="nav-link position-relative" href="#" role="button">
                    <i class="bi-bell"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>
